<p>solicitud works!</p>
<p [style.color]="+solicitud.valor > 0.5 ? 'red':'blue'">{{solicitud.valor}}</p>
<p><u>CADENA NOMBRE Y APELLIDOS CONCATENADA:</u> {{solicitud.nombre}} {{solicitud.apellidos}}</p>

<label>Nombre</label>
<input (keyup)="nombre($event)" />
<br/>

<label>Apellidos</label>
<input (keyup)="apellidos($event)" />
<p *ngIf="solicitud.apellidos.length<=0">Los apellidos no pueden estar vacíos</p>
<p *ngIf="solicitud.nombre.length<=0">El nombre no pueden estar vacío</p>
<br/><br/>

<button (click)="this.accion('eliminar')">Eliminar</button>
